@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Playwrite+DK+Uloopet:wght@100..400&display=swap");

/* =========Typhography Start ======= */
:root {
  --primary-color: #ffffff;
  --secondery-color: #b5b5b5;
  --orange-color: #e6533c;
  --bgBack-color: #000000;
}
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
a {
  text-decoration: none;
  color: #ffffff;
}
li {
  list-style: none;
}
img {
  width: 100%;
}
.container {
  padding: 0px 20px;
  max-width: 1150px;
  margin: 0 auto;
}
h1 {
  font-size: 3rem;
  font-weight: 900;
  color: var(--primary-color);
  margin-bottom: 20px;
}
.primary-btn {
  padding: 15px 25px;
  border: 1px solid #00000000;
  border-radius: 40px;
  font-size: 18px;
  cursor: pointer;
  background-color: var(--orange-color);
  color: var(--primary-color);
}
p {
  color: #ffffff;
  font-weight: 400;
  line-height: 26px;
  opacity: 0.6;
}
.text-center {
  text-align: center;
}
.gap-2 {
  gap: 20px;
}
.gap-4 {
  gap: 1.3rem;
}
.flex {
  display: flex;
}
.justify-center {
  justify-content: center;
}
.item-center {
  align-items: center;
}
.justify-between {
  justify-content: space-between;
}
/* =========Typhography End ======= */

/* ========= Header   Start ======= */
header {
  background-color: #000000;
  background-image: linear-gradient(#000000b1 10%, #47474781, #00000000);
  color: #ffffff;
  min-height: 500px;
  padding: 30px 0px 0px 0px;
}
header .logo {
  font-weight: 700;
  font-size: 2.5rem;
  color: var(--orange-color);
}
header ul {
  border: 1px solid #cdcdcd57;
  border-radius: 50px;
  padding: 8px 10px;
}
header li a {
  border-radius: 20px;
  padding: 4px 15px 6px 15px;
  transition: all 0.2s ease;
}
header li a:hover {
  background-color: var(--orange-color);
}
.navbar-icon {
  display: none;
  margin-right: 10px;
  font-size: 30px;
}
.active {
  background-color: var(--orange-color);
}
.banner-part h1 {
  font-weight: bold;
  font-size: 75px;
}
.banner-part h1 span {
  font-weight: 200;
  font-family: "Playwrite DK Uloopet", cursive;
}
.right-image .circle i{
  display: none;
}
.banner-part .special {
  background-color: transparent;
  border: 1px solid gainsboro;
}
.banner-part .right-image {
  position: relative;
  margin-right: 40px;
}
.banner-part .right-image p {
  font-weight: 200;
}
.banner-part .right-image .circle {
  width: 50px;
  height: 50px;
  background-color: var(--orange-color);
  border-radius: 30px;
}
.banner-part .right-image .after,
.banner-part .right-image .before {
  position: absolute;
  width: 180px;
  height: 80px;
  padding: 5px 15px;
  border-radius: 10px;
  backdrop-filter: blur(8px);
  border: 1px solid #dcdcdc45;
  background-image: linear-gradient(#72727200, #6969692c);
}
.banner-part .right-image .after {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  right: -50px;
  top: 110px;
}
.banner-part .right-image .before {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: -100px;
  bottom: 80px;
}
/* =========   End ======= */

/* ========= Habit section  Start ======= */
.habit-section {
  padding: 50px 0px;
  background-color: var(--bgBack-color);
  color: var(--primary-color);
}
.habit-roadmap {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.habit-roadmap .item {
  padding: 20px;
}
.habit-roadmap .item h3 {
  margin: 10px 0px;
}
.habit-roadmap img {
  width: 180px;
  border-radius: 150px;
  border: 4px solid #b0afaf9c;
}
/* ========= Habit section  End ======= */

/* ========= Team section  Start ======= */
.team-section {
  padding: 50px 0px;
  background-color: var(--bgBack-color);
}
.mentors-details {
  text-align: center;
  margin: 70px auto 0px auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  background-color: #43434368;
  border-radius: 18px;
  padding: 40px 0px;
}
.mentors-details .box{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0px;
  height: 270px;
}
.mentors-details .card{
  position: relative;
  width: 90%;
  height: 100%;
  background-color: #433f3f82;
  background-blend-mode: multiply;
  background-size: cover;
  background-position: top center;
  object-fit: cover;
  border-radius: 18px;
}
.mentors-details .card-1{
  background-image: url('../images/trainer1.png');
}
.mentors-details .card-2{
  background-image: url('../images/trainer2.png');
}
.mentors-details .card-3{
  background-image: url('../images/trainer3.png');
}
.mentors-details .card-4{
  background-image: url('../images/trainer4.png');
}
.mentors-details .card-5{
  background-image: url('../images/trainer5.png');
}
.mentors-details .card-6{
  background-image: url('../images/trainer6.png');
}
.mentors-details .card .token{
  position:absolute;
  text-align: left;
  bottom: 20px;
  left: 30px;
}
.mentors-details .card h2{
  color: var(--primary-color);
}
/* ========= Team section  End ======= */

/* =========   Start ======= */
/* =========   End ======= */

/* =========   Start ======= */
/* =========   End ======= */

/* =========   Start ======= */
/* =========   End ======= */

/* =========   Start ======= */
@media screen and (max-width: 992px) {
  nav .menu ul {
    display: none;
  }
  .navbar-icon {
    display: block;
  }
  .flex-md-column {
    flex-direction: column;
  }
  .habit-roadmap {
    grid-template-columns: repeat(2, 1fr);
  }
  .mentors-details {
    grid-template-columns: repeat(2, 1fr);
  }
}
/* =========   End ======= */

/* ========= small device  Start ======= */
@media screen and (max-width: 576px) {
  header .logo {
    font-size: 2.1rem;
  }
  header .icon{
    font-size: 25px;
  }
  .container {
    padding: 0px 15px;
  }
  .banner-part h1 {
    font-weight: bold;
    font-size: 45px;
  }
  .right-image .circle i{
    display: block;
  }
  .banner-part .right-image .after,
  .banner-part .right-image .before {
    width: 170px;
    height: 80px;
    padding: 5px 10px;
  }
  .banner-part .right-image .after {
    right: -45px;
    top: 60px;
  }
  .banner-part .right-image .before {
    left: 50px;
    top: 200px;
  }
  .primary-btn {
    padding: 15px;
  }
  .habit-roadmap {
    grid-template-columns: 1fr;
  }
  .mentors-details {
    grid-template-columns: 1fr;
  }
}
/* =========  small device End ======= */
