@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Playwrite+DK+Uloopet:wght@100..400&display=swap");

/* =========Typhography Start ======= */
:root {
  --primary-color: #ffffff;
  --secondery-color: #b5b5b5;
  --orange-color: #e6533c;
  --bgBack-color: #000000;
}
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  background-color: #000000;
}
a {
  text-decoration: none;
  color: #ffffff;
}
li {
  list-style: none;
}
img {
  width: 100%;
}
.container {
  padding: 0px 20px;
  max-width: 1150px;
  margin: 0 auto;
}
h1 {
  font-size: 3rem;
  font-weight: 900;
  color: var(--primary-color);
  margin-bottom: 20px;
}
.primary-btn {
  padding: 13px 25px;
  border: 1px solid #00000000;
  border-radius: 40px;
  font-size: 18px;
  cursor: pointer;
  background-color: var(--orange-color);
  color: var(--primary-color);
}
p {
  color: #ffffff;
  font-weight: 400;
  line-height: 26px;
  opacity: 0.6;
}
.text-center {
  text-align: center;
}
.gap-2 {
  gap: 20px;
}
.gap-4 {
  gap: 1.3rem;
}
.flex {
  display: flex;
}
.justify-center {
  justify-content: center;
}
.justify-evenly {
  justify-content: space-evenly;
}
.justify-between {
  justify-content: space-between;
}
.item-center {
  align-items: center;
}
.w-60 {
  margin: 0 auto;
  width: 60%;
}
/* =========Typhography End ======= */

/* ========= Header-Part Start ======= */
header {
  background-color: #000000;
  background-image: linear-gradient(#000000b1 10%, #47474781, #00000000);
  color: #ffffff;
  min-height: 500px;
  padding: 30px 0px 0px 0px;
}
header .logo,
footer .logo {
  font-weight: 700;
  font-size: 2.5rem;
  color: var(--orange-color);
}
header ul {
  border: 1px solid #cdcdcd57;
  border-radius: 50px;
  padding: 8px 10px;
}
header li a {
  border-radius: 20px;
  padding: 4px 15px 6px 15px;
  transition: all 0.2s ease;
}
header li a:hover {
  background-color: var(--orange-color);
}
.navbar-icon {
  display: none;
  margin-right: 10px;
  font-size: 30px;
}
.active {
  background-color: var(--orange-color);
}
/* =======  Header-part End  ======= */

/* =======  Banner-part Start  ======= */
.banner-part h1 {
  font-weight: bold;
  font-size: 75px;
}
.banner-part h1 span {
  font-weight: 200;
  font-family: "Playwrite DK Uloopet", cursive;
}
.right-image .circle i {
  display: none;
}
.banner-part .special {
  background-color: transparent;
  border: 1px solid gainsboro;
}
.banner-part .right-image {
  position: relative;
  margin-right: 40px;
}
.banner-part .right-image p {
  font-weight: 200;
}
.banner-part .right-image .circle {
  width: 50px;
  height: 50px;
  background-color: var(--orange-color);
  border-radius: 30px;
}
.banner-part .right-image .after,
.banner-part .right-image .before {
  position: absolute;
  width: 180px;
  height: 80px;
  padding: 5px 15px;
  border-radius: 10px;
  backdrop-filter: blur(8px);
  border: 1px solid #dcdcdc45;
  background-image: linear-gradient(#72727200, #6969692c);
}
.banner-part .right-image .after {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  right: -50px;
  top: 110px;
}
.banner-part .right-image .before {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: -100px;
  bottom: 80px;
}
/* =========  Banner-part End ======= */

/* ========= Habit-section  Start ======= */
.habit-section {
  padding: 50px 0px;
  background-color: var(--bgBack-color);
  color: var(--primary-color);
}
.habit-roadmap {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.habit-roadmap .item {
  padding: 20px;
}
.habit-roadmap .item h3 {
  margin: 10px 0px;
}
.habit-roadmap img {
  width: 180px;
  border-radius: 150px;
  border: 4px solid #b0afaf9c;
  transition: all .2s ease;
}
.habit-roadmap img:hover{
  transform: scale(1.1);
}
/* ========= Habit-section  End ======= */

/* ========= Excercise-section  Start ======= */
.exercise-section {
  padding: 50px 0px;
  color: var(--primary-color);
}
.exercise-section .top-content p{
  margin: inherit;
}
.exercise-section img {
  height: 200px;
  object-fit: cover;
}
.exercise-section .gallery {
  margin-top: 70px;
  display: grid;
  grid-template-columns: 0.5fr 1fr 0.5fr;
}
.exercise-section .gallery .image-card,
.exercise-section .gallery-2 .image-card {
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease;
}
.exercise-section .image-card img {
  transition: all 0.3s ease;
}
.exercise-section .image-card:hover img {
  transform: scale(1.1);
}
.exercise-section .image-card .token {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.exercise-section .image-card .token .text {
  position: absolute;
  top: 150px;
  left: 10px;
  width: 70%;
  height: 100%;
}
.exercise-section .image-card .token-1 {
  background-color: rgba(0, 222, 170, 0.493);
}
.exercise-section .image-card .token-2 {
  background-color: rgba(255, 26, 26, 0.452);
}
.exercise-section .image-card .token-3 {
  background-color: rgba(0, 0, 0, 0.58);
}
.exercise-section .image-card .token-4 {
  background-color: rgba(0, 0, 0, 0.493);
}
.exercise-section .image-card .token-5 {
  background-color: rgba(86, 171, 1, 0.493);
}
.exercise-section .image-card .token-6 {
  background-color: rgba(8, 86, 254, 0.493);
}
.exercise-section .gallery-2 {
  display: grid;
  grid-template-columns: 1.3fr 0.7fr 0.9fr;
}
/* ========= Excercise-section  End ======= */

/* ========= Pricing-section  Start ======= */
.pricing-section {
  color: var(--primary-color);
}
.pricing-cart {
  gap: 30px;
}
.pricing-cart .card {
  width: 100%;
  min-height: 270px;
  border: 1px solid #ff6708d3;
  border-radius: 8px;
  background-color: #000000fc;
  transition: all 0.2s ease-out;
}
.pricing-cart .card:hover {
  filter: drop-shadow(10px 10px 15px #ec4f11);
}
.pricing-cart .card-active {
  filter: drop-shadow(10px 10px 15px #ec4f11);
}
.pricing-cart .card .icon {
  margin: 20px 0px 10px 0px; 
  font-size: 30px;
}
.pricing-cart .card h1{
  font-size: 2.5rem;
  font-weight: 600;
}
.pricing-cart button{
  margin: 20px 0px;
}
/* ========= Pricing-section  End ======= */

/* ========= Calculator-section  Start ======= */

.calculator-section .container {
  margin-top: 50px;
  background-color: #222222;
  color: #b5b5b5;
  max-width: 100vw;
  min-height: 300px;
}
.calculator-section .top-content {
  background-color: #000000;
  margin: 0px 0px;
  padding: 50px 0px 0px 0px;
}
.calculator-section .row-1,
.calculator-section .row-2,
.calculator-section .row-3 {
  display: grid;
  gap: 15px;
  margin: 20px 0px;
}
.calculator-section input,
.calculator-section select {
  min-width: calc(100%-30px);
  padding: 12px 20px;
  background-color: #ffffff11;
  color: #706f6f;
  border-radius: 8px;
  border: none;
  outline: #00000016;
}
.calculator-section .row-1,
.calculator-section .row-2 {
  grid-template-columns: 1fr 1fr;
}
.calculator-section .row-3 {
  grid-template-columns: 1fr;
}
.table-section {
  margin-top: 80px;
  padding: 50px 10px;
  min-height: 150px;
  justify-content: space-around;
}
.table-section h2 {
  color: var(--primary-color);
  margin-bottom: 10px;
}
table,
th,
td {
  text-align: left;
  border: 1px solid #b5b5b5;
  border-collapse: collapse;
  padding: 10px 25px;
}
th {
  color: #ffffff;
}
.form p{
  margin: inherit;
}
/* =========  Calculator-section End ======= */

/* ========= Team-section  Start ======= */
.team-section {
  padding: 50px 0px;
  background-color: var(--bgBack-color);
}
.mentors-details {
  text-align: center;
  margin: 70px auto 0px auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  background-color: #43434368;
  border-radius: 18px;
  padding: 40px 0px;
}
.mentors-details .box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0px;
  height: 270px;
}
.mentors-details .card {
  position: relative;
  width: 90%;
  height: 100%;
  background-color: #433f3f82;
  background-blend-mode: multiply;
  background-size: cover;
  background-position: top center;
  object-fit: cover;
  border-radius: 18px;
  transition: all .2s ease;
}
.mentors-details .card:hover{
  transform: scale(1.05);
}
.mentors-details .card-1 {
  background-image: url("../images/trainer1.png");
}
.mentors-details .card-2 {
  background-image: url("../images/trainer2.png");
}
.mentors-details .card-3 {
  background-image: url("../images/trainer3.png");
}
.mentors-details .card-4 {
  background-image: url("../images/trainer4.png");
}
.mentors-details .card-5 {
  background-image: url("../images/trainer5.png");
}
.mentors-details .card-6 {
  background-image: url("../images/trainer6.png");
}
.mentors-details .card .token {
  position: absolute;
  text-align: left;
  bottom: 20px;
  left: 30px;
}
.mentors-details .card h2 {
  color: var(--primary-color);
}
/* ========= Team-section  End ======= */

/* ========= Running-section   Start ======= */
.running-section {
  padding: 30px 0px;
  min-height: 300px;
  background-color: var(--bgBack-color);
}
.running-section .content {
  background-color: #58585879;
  border-radius: 18px;
  padding: 30px 40px;
}
.running-section .content .left-content {
  width: 50%;
}
.running-section .right-image img {
  max-width: 360px;
}
.running-section .md-image {
  display: none;
}
.running-section .md-image img {
  border-radius: 18px;
  max-width: 100%;
}
/* ========= Running-section  End ======= */


/* ========= Large device  Start ======= */
@media screen and (max-width: 992px) {
  nav .menu ul {
    display: none;
  }
  .navbar-icon {
    display: block;
  }
  .flex-md-column {
    flex-direction: column;
  }
  .habit-roadmap {
    grid-template-columns: repeat(2, 1fr);
  }
  .mentors-details {
    grid-template-columns: repeat(2, 1fr);
  }
  .running-section .content .left-content {
    width: 100%;
  }
  .running-section .right-image {
    display: none;
  }
  .running-section .md-image {
    display: block;
  }
  .running-section .primary-btn {
    min-width: 100%;
  }
  .table-section {
    flex-direction: column;
  }
}
/* ========= Large device  End ======= */

/* ========= Footer  Start ======= */
footer {
  padding: 30px 0px;
  color: white;
}
footer h2 {
  font-size: 32px;
}
footer li p {
  font-size: 23px;
  margin: 15px 0px;
}
footer .container .footer-section {
  display: grid;
  gap: 22px;
  grid-template-columns: 3fr 1fr 1fr;
}
hr {
  border: 1px solid #cfc2c29d;
}
/* ========= Footer  End ======= */

/* ========= Medium devices  Start ======= */
@media screen and (max-width: 992px) {
  .w-lg-80 {
    width: 80%;
  }
}
@media screen and (max-width: 768px) {
  .w-md-full {
    width: 100%;
  }
  .exercise-section .gallery .image-card,
  .exercise-section .gallery-2 .image-card {
    margin: 5px 0px;
  }
  .running-section .content {
    padding: 30px 15px;
  }
  .table-section {
    padding: 50px 0px;
  }
  .exercise-section .gallery-2,
  .exercise-section .gallery {
    grid-template-columns: 1fr;
  }
  footer .container .footer-section {
    grid-template-columns: 1fr;
  }
  footer h2 {
    font-size: 25px;
  }
}
/* ========= Medium devices  End ======= */


/* ========= small device  Start ======= */
@media screen and (max-width: 576px) {
  .calculator-section input[type="number"] {
    max-width: 65%;
  }
  .primary-btn {
    padding: 10px 20px;
  }
  header .logo,
  footer .logo {
    font-size: 2.3rem;
  }
  header .icon {
    font-size: 25px;
  }
  section h1 {
    font-size: 32px;
  }
  .container {
    padding: 0px 15px;
  }
  .banner-part h1 {
    font-weight: bold;
    font-size: 45px;
  }
  .right-image .circle i {
    display: block;
  }
  .banner-part .right-image .after,
  .banner-part .right-image .before {
    width: 170px;
    height: 80px;
    padding: 5px 10px;
  }
  .banner-part .right-image .after {
    right: -45px;
    top: 60px;
  }
  .banner-part .right-image .before {
    left: 50px;
    top: 200px;
  }
  table,
  th,
  td {
    padding: 10px 15px;
  }
  .habit-roadmap {
    grid-template-columns: 1fr;
  }
  .mentors-details {
    grid-template-columns: 1fr;
  }
  footer li p {
    font-size: 18px;
    margin: 5px 0px
  }
  .calculator-section .row-1,
  .calculator-section .row-2,
  .calculator-section .row-3 {
    gap: 8px;
  }
  .calculator-section input,
  .calculator-section select {
    padding: 12px 5px;
  }
}
/* =========  small device End ======= */
